body{
    margin: 30px;
    background-color: #F4EDEA;
    color:#12263A;
}

.mainheading{
    text-align: center;
    /* margin:30px; */
}


#formcontainer{
    padding:70px 0;
}
.formlogin{
    margin: auto;
    width: 25%;
    border-style: solid;
    padding: 20px;
    border-radius:5px;
    border-color: #12263A;
    border-width: 2px;
}

.formsignup{
    margin: auto;
    width: 50%;
    border-style: solid;
    padding: 20px;
    border-radius:5px;
    border-color: #12263A;
    border-width: 2px;
}

.labellogin{
    margin: auto;
    
}

.formlogin .btn
{
    color: #F4EDEA;
    background-color:#17BEBB;
    width: 45%;
    margin:auto;
    
}

.formsignup .btn
{
    color: #F4EDEA;
    background-color:#17BEBB;
    width: 30%;
    margin:auto;
    
}

.smallerror{
    color:rgba(230, 1, 1, 0.952);
}

#msg{
    text-align: center;
    width:75%;
    margin:auto;
}

.booklist{
    border-style:solid;
    border-width: 1px;
    border-color: #7C7A7A;
    padding: 10px;
    border-radius: 5px;
    width:80%;
    margin:auto;
    margin-top: 10px;

}

.booklist:hover {
    color: #F4EDEA;
    background-color:#17BEBB;
    border-color:#F4EDEA;
}
.booklist-wrapper{
    margin-top: 50px;
}

.page{
    margin:auto;
    padding:10px;
}

#currpage{
    color:#12263A;
    font-weight: bold;
}
.pagelist
{
    text-align:center;
    width:50%;
    margin:auto;
    margin-top:20px;    
}


.top-right{
    position:absolute;
    top:30px;
    right:30px;
}

#booksearch{
    position:absolute;
    top:25px;
    right:200px;
}

#searchbtn{
    color: #F4EDEA;
    background-color:#17BEBB;
    margin-left: 10px;
}

.bookheading{
    color:#12263A;
    display:inline;
    font-weight: bold;
}

.booklink{
    color:#12263A;   
    /* border-style:solid; */
    display:inline;
}

#bookinfo{
    margin-top: 50px;
}

.bookauthor,.ratingvalue{
    font-weight: 200;
}

#bookrating{
    text-align: center;
}

#bookrating .btn{
    color:#17BEBB;
    
}

#bookrating .btn:hover{
    color: #F4EDEA;
    background-color:#17BEBB;
    
}


#reviewheading{
    font-weight: 500;
}

.review,.reviewformtext{
    margin-top:20px;
    padding: 10px;
    width:80%;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: white;
}

.reviewform .btn{
    margin-top:10px;
    color: #F4EDEA;
    background-color:#17BEBB;
    display: block;
}

.reviewtext{
    font-weight: 250;
}
.reviewuser{
    font-weight: 600;
    color:#17BEBB;
}
