body{
    margin: 30px;
    background-color: #F4EDEA;
    color:#12263A;
}

.mainheading{
    text-align: center;
}

#formcontainer{
    padding:70px 0;
}
.formlogin{
    margin: auto;
    width: 25%;
    border-style: solid;
    padding: 20px;
    border-radius:5px;
    border-color: #12263A;
    border-width: 2px;
}

.formsignup{
    margin: auto;
    width: 50%;
    border-style: solid;
    padding: 20px;
    border-radius:5px;
    border-color: #12263A;
    border-width: 2px;
}

.labellogin{
    margin: auto;
    
}

.formlogin .btn
{
    color: #F4EDEA;
    background-color:#17BEBB;
    width: 45%;
    margin:auto;
    
}

.formsignup .btn
{
    color: #F4EDEA;
    background-color:#17BEBB;
    width: 30%;
    margin:auto;
    
}

.smallerror{
    color:rgba(230, 1, 1, 0.952);
}

#msg{
    text-align: center;
    width:75%;
    margin:auto;
}

.booklist{
    border-style:solid;
    border-width: 1px;
    border-color: #7C7A7A;
    padding: 10px;
    border-radius: 5px;
    width:80%;
    margin:auto;
    margin-top: 10px;

}

.booklist:hover {
    color: #F4EDEA;
    background-color:#17BEBB;
    border-color:#F4EDEA;
}
.booklist-wrapper{
    margin-top: 50px;
}

.page{
    margin:auto;
    padding:10px;
}

#currpage{
    color:#12263A;
    font-weight: bold;
}
.pagelist
{
    text-align:center;
    width:50%;
    margin:auto;
    margin-top:20px;    
}
