{% extends "layout2.html" %}
{% block body %}
    <div class=row id="bookinfo">
        <div id="bookname" class="col-6">
            <h3 class="booktitle">{{ book.title }} ({{ book.year }})</h3>
            <h4 class="bookauthor"> by {{ book.author }}</h4>
        </div>

        <div id="bookrating" class=col-6>
            <h3>Rating</h3>
            <h4 class=ratingvalue>4.04</h4>
        </div>
    </div>
    <hr>
    <h3 class="reviewheading">Reviews</h3>
    <div class="review">
        <h5 class=reviewuser>user1</h5>
        <small class="text-muted">15/07/2020</small>
        <p class="reviewtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
         Nunc scelerisque viverra mauris in aliquam sem fringilla ut. Eget sit amet tellus cras adipiscing. 
         Volutpat diam ut venenatis tellus in metus. </p>
    </div>
    <div class="review">
        <h5 class=reviewuser>user2</h5>
        <p class="reviewtext"> Dictum sit amet justo donec enim diam. Et malesuada fames ac turpis egestas integer eget aliquet. 
            Sagittis purus sit amet volutpat. Neque aliquam vestibulum morbi blandit cursus risus at ultrices. </p>
    </div>
    <div class="review">
        <h5 class=reviewuser>user3</h5>
        <p class="reviewtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <form action="#" class="reviewform">
        <textarea placeholder="Add a review...." class="reviewformtext"></textarea>
        <button class="btn">Submit Review</button>
    </form>
{% endblock %}