{% extends "layout2.html" %}
{% block body %}
    <div class=row id="bookinfo">
        <div id="bookname" class="col-6">
            <h3 class="booktitle">{{ book.title }} ({{ book.year }})</h3>
            <h4 class="bookauthor"> by {{ book.author }}</h4>
        </div>

        <div id="bookrating" class=col-6>
            <h3>Rating</h3>
            <h4 class=ratingvalue>{{ rating }}</h4>
            <span >Your rating</span><br>
            {%if notRated%}
            <form action="{{url_for('book',isbn=book.isbn)}}" method="post">
                <div class="btn-group btn-group-sm">
                    <button class="btn" name=userrating value=1>1</button>
                    <button class="btn" name=userrating value=2>2</button>
                    <button class="btn" name=userrating value=3>3</button>
                    <button class="btn" name=userrating value=4>4</button>
                    <button class="btn" name=userrating value=5>5</button>
                </div>
            </form>
            {% else %}
            <span style="font-weight: 250;"> {{ userrating }} </span>
            {% endif %}
        </div>
    </div>
    <hr>
    <h3 class="reviewheading">Reviews</h3>
    {% for review in reviews %}
    <div class="review">
        <h5 class=reviewuser>{{ review.username }}</h5>
        <small class="text-muted">{{ review.reviewdate }}</small>
        <p class="reviewtext">{{ review.text }}</p>
    </div>
    {% endfor %}

    <form action="{{ url_for('book',isbn=book.isbn)}}" class="reviewform" method="post">
        <textarea placeholder="Add a review...." class="reviewformtext" name="reviewsubmit"></textarea>
        <button class="btn">Submit Review</button>
    </form>
{% endblock %}