<!DOCTYPE html>

<html>
    <head>
        <title>RajBooks</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles.css')}}" >
    </head>
    <body>
        <a href="{{ url_for('books',page=1) }}" style="text-decoration: none;"><h1 class="bookheading">RajBooks</h1></a>
        <div class="top-right"><a href="{{ url_for('user',username=uname) }}">{{ uname }}</a> | <a href="{{ url_for('logout')}}">Log out</a></div>
    
        {% block body %}{% endblock %}
    </body>

</html>